/*styilng for the main menu*/
body{
background-image: url("http://www.sfu.ca/medicaltourism/images_layout/stock_photos/iStock_000005332991Small.jpg");
background-repeat: no-repeat;
background-size: cover;
}
div{
    
}