body{
	background-color: lightblue;
}

/*syling required for all fieldsets to fit on screen without horizontal scroll bar*/
fieldset {
	width: 29%;
	border-color: black;
	padding: 20px;
	float:left;
}

/*centers the title for the fieldsets*/
legend {
	text-align: center;
}

/*Styling for the fieldset Vitals*/
#vitals{
	position:absolute;
	left:17%;
	top: 600px;
}

/*Styling for the fieldset Appropriate Treatment*/
#aTreatment{
	position:absolute;
	left:52%;
	top: 600px;
}

/*refers to all input fields, meant for the ones inside the fieldset*/
input{
	width: 52%;
	float: right;
}
