body{
	background-color: lightblue;
}

/*applies to all divs, overarching organization of the elements on the page*/
div{
	background-color: rgb(200, 500, 300);
	width: 48%;
	margin: 10px;
	float:left;
}

/*Styles submit button div, keep it the same color as the page background*/
#buttonDiv{
	background-color: lightblue;
	width: 98%;
}

/*For those big buttons on the bottom*/
.submitButtons{
	position:relative;
	width:32.3%;
	height:100px;
	font-size:72px;
	border: 2px solid black;
	cursor: pointer;
	border-radius:8px;
	box-shadow: 0 9px #999;
	margin: 5px
}

/*Changes button color when you hover over it*/
button:hover{
	transition-duration: 0.3s;
	background-color: black;
	color: white;
}

/*The "clicking" effect on the buttons*/
button:active{
	transition-duration: 0s;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
}

/*Default class for buttons in the test/student div*/
.stuButtons, .testButtons{
	margin: 3px;
	width: 90%;
	text-align:left;
	border-radius: 8px;
}

/*For the titles in student and test divs*/
h1{
	text-align: center;
}

/*styling to keep show a selected student/test*/
.selected{
	background-color: cyan;
	color: black;
	margin: 3px;
	width: 90%;
	text-align:left;
	border-radius: 8px;
}